parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	excludePaths:
		- ../../etc/base64
	ignoreErrors:
		-
			identifier: shipmonk.deadMethod
			message: '#^Unused WyriHaximus\\Makefiles\\Documentation\\WordlistDocumentationConfigSync::(sync|enrichQaWordlistsWithPhpSymbols|addWordsToQaWordlists) \(all usages excluded by tests excluder\)$#'
			path: ../../src/Documentation/WordlistDocumentationConfigSync.php
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
				- WyriHaximus\Tests\Makefiles\TestCase
